﻿@{
    ViewBag.Title = "Edit";
}

<form action="/Home/Update" method="put">
    <div class="form-group">
        <label for="story">Your story:</label>
        <textarea class="form-control" id="story" name="story" rows="15">@Model["story"].InnerText</textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
</form>
