﻿@model Story.Models.Story
@{
    ViewBag.Title = "New";
}
<h3>Add Your Stories Here</h3>

@using (Html.BeginForm("Add", "Home"))
{
    <div class="form-group">
        <label for="story">Your Story:</label>
        <textarea class="form-control" id="story" name="story" rows="15" ></textarea>
    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>

}
