﻿@{
    ViewBag.Title = "Stories";
}
<h1>Stories</h1>


@foreach (var s in Model)
{
    <div class="container">
        <p><a href="story/@s["Id"].InnerText">@s["story"].InnerText</a></p> 
        <hr>
    </div>
}
